body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #F7F9F9;
  color: #22333B;
}

.Nav {
  color: #22333B; 
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PersonList {
  list-style-type: none;
}

.PersonEdit, .PersonAdd {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.PersonEditBtns, .PersonAddBtns {
  display: flex;
  justify-content: space-between;
}

button.button-primary.danger {
    background-color: #4CB963;
}